aiohttp==3.8.4
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.2.0
beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==5.1.0
colorama==0.4.6
discord.py==2.2.2
dpytest==0.6.4
emoji==2.2.0
idna==3.4
iniconfig==2.0.0
mock==4.0.3
more-itertools==9.1.0
multidict==6.0.4
packaging==23.0
parsedatetime==2.6
pluggy==1.0.0
pyparsing==2.4.7
pysqlcipher3==1.2.0
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-env==0.8.1
pytest-ordering==0.6
python-dotenv==1.0.0
requests==2.28.2
six==1.16.0
sqlalchemy==1.4.37
toml==0.10.2
twitchAPI==3.9.0
urllib3==1.26.14
wcwidth==0.2.6
websockets==10.4
yarl==1.8.2
