name: Docker Build and Push

on:
  release:
    types: [released, prereleased]
  pull_request:
  push:
    branches:
      - master

      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      imageTag:
        description: 'Image Tag'
        required: true
        default: 'manual'
        type: choice
        options:
          - manual
          - dev
          - dev2

env:
  TEST_TAG: jaydwee/koalabot:test

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the version
        if: ${{ github.event_name == 'release' }}
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build
        uses: docker/build-push-action@v4
        with:
          load: true
          tags: ${{ env.TEST_TAG }}
      - name: Test
        run: |
          docker run --name='test' --rm \
          -e BOT_OWNER=${{ secrets.BOT_OWNER }} \
          -e DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }} \
          -e GMAIL_EMAIL=${{ secrets.GMAIL_EMAIL }} \
          -e GMAIL_PASSWORD=${{ secrets.GMAIL_PASSWORD }} \
          -e TWITCH_SECRET=${{ secrets.TWITCH_SECRET }} \
          -e TWITCH_TOKEN=${{ secrets.TWITCH_TOKEN }} \
          -e DB_URL=${{ secrets.MYSQL_DB_URL }} \
          ${{ env.TEST_TAG }} & (sleep 10 && docker kill test)
      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push release
        if: ${{ github.event_name == 'release' && github.event.action == 'released' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            jaydwee/koalabot:latest
            jaydwee/koalabot:${{ steps.get_version.outputs.VERSION }}
      - name: Build and push prerelease
        if: ${{ github.event_name == 'release' && github.event.action == 'prereleased' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            jaydwee/koalabot:prerelease
            jaydwee/koalabot:${{ steps.get_version.outputs.VERSION }}
      - name: Build and push master
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            jaydwee/koalabot:master
      - name: Build and push manual test
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This should be removed after testing
          tags: |
            jaydwee/koalabot:${{ inputs.imageTag }}
